<div>
    <h2 data-translate="blogApp.imageBackground.home.title">Image Backgrounds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="image-background.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="blogApp.imageBackground.home.createLabel">
                        Create new Image Background
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="blogApp.imageBackground.imgBlob">Img Blob</span></th>
                    <th><span data-translate="blogApp.imageBackground.createdDate">Created Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="imageBackground in vm.imageBackgrounds track by imageBackground.id">
                    <td><a ui-sref="image-background-detail({id:imageBackground.id})">{{imageBackground.id}}</a></td>
                    <td>
                        <a ng-if="imageBackground.imgBlob" ng-click="vm.openFile(imageBackground.imgBlobContentType, imageBackground.imgBlob)">
                            <img data-ng-src="{{'data:' + imageBackground.imgBlobContentType + ';base64,' + imageBackground.imgBlob}}" style="max-height: 30px;" alt="imageBackground image"/>
                        </a>
                        <span ng-if="imageBackground.imgBlob">{{imageBackground.imgBlobContentType}}, {{vm.byteSize(imageBackground.imgBlob)}}</span>
                    </td>
                        <td>{{imageBackground.createdDate | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="image-background-detail({id:imageBackground.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-background.edit({id:imageBackground.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-background.delete({id:imageBackground.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
