
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myImageBackgroundLabel" data-translate="blogApp.imageBackground.home.createOrEditLabel">Create or edit a Image Background</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.imageBackground.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.imageBackground.id" readonly />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImgBlob($file, vm.imageBackground)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="blogApp.imageBackground.imgBlob" for="field_imgBlob">Img Blob</label>
            <div>
                <img data-ng-src="{{'data:' + vm.imageBackground.imgBlobContentType + ';base64,' + vm.imageBackground.imgBlob}}" style="max-height: 100px;" ng-if="vm.imageBackground.imgBlob" alt="imageBackground image"/>
                <div ng-if="vm.imageBackground.imgBlob" class="help-block clearfix">
                    <span class="pull-left">{{vm.imageBackground.imgBlobContentType}}, {{vm.byteSize(vm.imageBackground.imgBlob)}}</span>
                    <button type="button" ng-click="vm.imageBackground.imgBlob=null;vm.imageBackground.imgBlobContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImgBlob($file, vm.imageBackground)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imgBlob" id="field_imgBlob"
                    ng-model="vm.imageBackground.imgBlob"
                    required/>
            <input type="hidden" class="form-control" name="imgBlobContentType" id="field_imgBlobContentType"
                    ng-model="vm.imageBackground.imgBlobContentType" />
            <div ng-show="editForm.imgBlob.$invalid">
                <p class="help-block"
                    ng-show="editForm.imgBlob.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blogApp.imageBackground.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.imageBackground.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
